[color]
	diff = auto
	branch = auto
	interactive = auto
	status = auto

[user]
	email = admin@elasticweb.ru
	name = Alexandr Voronkin
[core]
	autocrlf = input
[push]
	default = simple
	
[alias]
	rmbranch = "!f(){ git branch -d ${1} && git push origin --delete ${1}; };f"
